<html>
    <head>
        <%- include('partials/header.ejs') %>
    </head>

    <body>
        <%- include('partials/adminnavbar.ejs') %>
        <div class="member">
            <h1><em> Admins </em>only page</h1>
			<p style="color: tomato; font-weight: bold;"><%=memberEmail%></p>
			<p>You are now logged in <em>Super User!</em></p>
        
        </div>
        
        <div class="footer2">
            <%- include('partials/footer.ejs') %>
        </div>
    </body>    
</html>

